@page
@model DigitalWallet.Pages.CreateWalletModel
@{
    ViewData["Title"] = "Create Wallet?";
}

<div class="h-100 row justify-content-md-center">
    <div class="col-md-5 align-content-center">
        <h1 class="text-center m-3">@ViewData["Title"]</h1>
        <p class="fs-4">By clicking button below, you confirm that you agree with our <a asp-page="/Privacy">privacy policy</a>.</p>
        <form class="form-inline" asp-page="/CreateWallet">
            <button type="submit" class="w-100 btn btn-lg btn-primary">Create Wallet</button>
        </form>
        <a asp-page="/Index" class="w-100 btn btn-lg btn-secondary">Back to Menu</a>
    </div>
</div>