@page
@model DigitalWallet.Pages.EditCompanyModel
@{
    ViewData["Title"] = "Edit Company";
}

<div class="h-100 row justify-content-md-center">
    <div class="col-md-5 align-content-center">
        <h1 class="text-center">@ViewData["Title"]</h1>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-2">
                <input asp-for="Company.Id" class="form-control" aria-required="true" readonly />
                <label asp-for="Company.Id" class="form-label"></label>
            </div>
            <div class="form-floating mb-2">
                <input asp-for="Company.Name" class="form-control" aria-required="true" />
                <label asp-for="Company.Name" class="form-label"></label>
                <span asp-validation-for="Company.Name" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col mb-2 pe-1">
                    <div class="form-floating">
                        <input asp-for="Company.Email" class="form-control" aria-required="true" placeholder="Company" />
                        <label asp-for="Company.Email" class="form-label"></label>
                        <span asp-validation-for="Company.Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col mb-2 ps-1">
                    <div class="form-floating">
                        <input asp-for="Company.Phone" class="form-control" aria-required="true" placeholder="Company" />
                        <label asp-for="Company.Phone" class="form-label"></label>
                        <span asp-validation-for="Company.Phone" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Company.Site" class="form-control" aria-required="true" placeholder="Company" />
                <label asp-for="Company.Site" class="form-label"></label>
                <span asp-validation-for="Company.Site" class="text-danger"></span>
            </div>
            <input type="submit" value="Save" class="btn btn-lg btn-primary w-100" />
        </form>
        <a asp-page="Companies" class="w-100 btn btn-lg btn-secondary">Back to List</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
