@page
@model DigitalWallet.Pages.TransactionsModel
@{
    ViewData["Title"] = "Transactions";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<div class="row justify-content-md-center">
    <div class="col-md-9">
        <table id="table" class="table display w-100 dt-left">
            <thead>
                <tr>
                    <th>Subject</th>
                    <th>Time</th>
                    <th>Amount</th>
                    <th>Status</th>
                </tr>
            </thead>
        </table>
        <a asp-page="/Index" class="w-100 btn btn-lg btn-secondary">Back to Menu</a>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/js/datatable.js"></script>
}